body, html {
    width: 100%;
}

img {
    max-height: 300px;
    max-width: 300px;
}

body {
    /* background-image: url("../img/bg-test-2.png"); */
    background: #dadada;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

header {
    text-align: center;
    background: #dadada;
    border-bottom: 10px dashed #adadad;
    /* background-image: url("../img/bg-test.png"); */
}

ul>li {
    list-style-type: none;
    display: inline-block;
    background: #adadad;
    padding: 3px 0;
    width: 75px;
    height: 30px;
}

#upload {
    width: 500px;
    height: 170px;
    background: #ffffff;
    border-radius: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px;
}

main {
    width: auto;
    text-align: center;
}

/* #login, #logout {
    /* set initial display to none */

/*
    display: none;
} */

#showPassword {
    text-decoration: underline;
}

#showPassword:hover {
    cursor: pointer;
}

#unit {
    position: relative;
}

#labelle {
    font-size: 140%;
}

.file {
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    background: #ffc7c1;
}

.upload {
    background: #fca298;
    /* border-radius: 5px; */
    border: 1px solid black;
    margin: 5px;
}

.upload:focus {
    outline: solid 2px #fca298;
}

.upload:hover {
    background: #ff8274;
}

.upload:active {
    background: #ff6452;
}

.gallery {
    text-align: center;
    border-radius: 10px;
    background: #adadad;
    width: 320px;
    padding-top: 10px;
    margin: 10px;
    display: inline-block;
}

.left {
    position: absolute;
    float: left;
    overflow-y: auto;
    width: 150px;
    background: #dadada;
    /* background-image: url("../img/bg-test-3.png"); */
    top: 0;
    bottom: 0;
    margin-top: -13px;
}

.right {
    position: absolute;
    float: right;
    overflow-y: auto;
    width: 150px;
    background: #dadada;
    /* background-image: url("../img/bg-test-3.png"); */
    top: 0;
    bottom: 0;
    right: 0;
    margin-top: -13px;
}

.notification {
    font-size: 130%;
    background: #dadada;
    /* background-image: url("../img/bg-test-2.png"); */
    padding: 5px;
    display: inline-block;
    border: 4px solid #000000;
    background: linear-gradient(135deg, rgba(221, 112, 112, 1) 0%, rgba(194, 34, 34, 1) 5%, rgba(120, 0, 0, 1) 41%);
    color: #e0fff9;
}

.experimental {
    width: 362px;
    display: block !important;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}